.tweetbox {
  padding-bottom: 10px;
  border-bottom: 8px solid var(--twitter-background);
  padding-right: 10px;
}

.tweetbox__input {
  padding: 20px;
  display: flex;
}

.tweetbox__input > input {
    flex: 1;
    margin-left: 20px;
    border: none;
    font-size: 20px;
}

.tweetbox__imageinput{
    border: none;
    padding: 20px;
}


.tweetbox > form {
  display: flex;
  flex-direction: column;
}

.tweetbox__tweetbutton{
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    width: 80px;
    height: 40px !important;
    margin-top: 5px !important;
    margin-left: auto !important;
}